[submodule "agent/templates/amr_swarm_template"]
	path = agent/templates/amr_swarm_template
	url = https://github.com/gaia-platform/amr_swarm_template
[submodule "agent/templates/access_control_template"]
	path = agent/templates/access_control_template
	url = https://github.com/gaia-platform/access_control_template
[submodule "agent/templates/aws-iot-device-sdk-cpp-v2"]
	path = agent/templates/aws-iot-device-sdk-cpp-v2
	url = https://github.com/aws/aws-iot-device-sdk-cpp-v2.git
