<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Access Control Application</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body>

  <!--==========================
  Header
  ============================-->
  <header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
        <a href="#main" class="scrollto"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="" class="img-fluid"></a>
        <h4>Access Control Application</h4>
      </div>      
    </div>
  </header><!-- #header -->

  <main id="main">

    <section id="main-ui" class="section-bg">
      <div class="row">
        <div class="col-sm-6">
          <div class="container">
            <input class="tab active" type="button" data-tab-name="ruleset" value="ruleset"/>
            <input class="tab" type="button" data-tab-name="ddl" value="ddl"/>
            <input class="tab" type="button" data-tab-name="output" value="output"/>
            <input type="button" style="float: right" id="run-button" value="run"/>
          </div>
          <div class="container" id="sandboxEditor" style="overflow-y:auto; height: 800px; border: 1px solid grey"></div>
        </div>
        <div class="col-sm-6">
          <div class="container" style="overflow-y:auto; height: 830px; border: 1px solid grey">
          <div class="row">
            <div class="col-sm-6">
              <div id="messages" class="box alert" hidden>
                <i style="float:left;" class="fas fa-exclamation-triangle"></i>
                <h4 id="message-output" style="text-align:center;">Message</h4>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div id="location-time" class="box header">
                <h4 style="float:left;">Locations at time: <span id="time" data-minutes="480">8:00 am</span></h4>
                <i class="fas fa-fast-forward small"></i>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="box header">
                <h4>People</h4>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div id="locations">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="box building">
                      <h4>If you see this message you may need to start or restart the Gaia application.</h4>
                    </div>
                  </div>
                </div>              
              </div>
            </div>
            <div class="col-sm-6">
              <div id="people">
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    </section><!-- #main -->
    <section id="controls" class="clearfix">
      <div class="container">
        <div class="controls-area">
          <div>
            <a id="reset" class="btn-reset">Reset</a>
            <a id="test" class="btn-submit">Test</a>
          </div>
        </div>

      </div>
    </section><!-- #controls -->
  </main>

  <!-- JavaScript Libraries -->
  <script src="{{ url_for('static', filename='lib/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/jquery/jquery-migrate.min.js') }}"></script>
    
  <script src="{{ url_for('static', filename='lib/monaco/vs/loader.js') }}"></script>

  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

  <!-- Main Javascript File -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

  <!-- access_control Javascript File -->
  <script src="{{ url_for('static', filename='js/access_control.js') }}"></script>

</body>
</html>
